%h3= @room.name

.posts_from_index

%ul#posts
  - @room.posts.each do |post|
    %li= "#{post.body} (#{post.user.username})"

%hr
%h3 New post
= form_for @post, remote: true do |f|
  %p= f.text_field :body
  = f.hidden_field :room_id, value: @room.id
  = f.hidden_field :username, value: current_user.username
  = f.submit
