%h3= @room.name

.posts_from_index

%ul#posts
  - @room.posts.each do |post|
    %li= "#{post.body} (#{post.user.username})"

%hr
%h3 New post
= form_for @post, remote: true do |f|
  %p= f.text_field :body
  = f.hidden_field :room_id, value: @room.id
  = f.hidden_field :username, value: current_user.username
  = f.submit

:javascript
  $('form#new_post').on('submit', function(event) {
    event.preventDefault();

    $.ajax({
      data: $(this).serialize(),
      success: function() {
        var post_body = $("#post_body")[0].value;
        var username = $("#post_username")[0].value;
        $('#posts').append("<li>" + post_body + " (" + username + ")"+ "</li>");
        $("form").trigger("reset");
      },
      error: function(request, errorType, errorMessage) {
        console.log('Error' + errorType + ' with message: ' + errorMessage);
      }
    });
  });
