%h3= @room.name

.posts_from_index

%ul#posts
  - @room.posts.each do |post|
    %li= "#{post.body} (#{post.user.username})"

%hr
%h3 New post
= form_for @post, remote: true do |f|
  %p= f.text_field :body
  = f.hidden_field :room_id, value: @room.id
  = f.hidden_field :username, value: current_user.username
  = f.submit

:javascript
  $('form').on('submit', function(e) {
    event.preventDefault();

    $('.new_post').on("ajax:success",
      function(e, xhr, status, error) {
        var post_body = $("#post_body")[0].value;
        $('#posts').append("<li>" + post_body + "</li>");

        $("form").trigger("reset");
      }).on("ajax:error", function(e, xhr, status, error){
        $('.form_submit').append("<p>Form submission error</p><ul>" + "<li>error: " + error + "</li>" + "<li>xhr: " + xhr + "</li>" + "<li>e: " + e + "</li>" + "</ul><hr>");
    })
  })
